<h1><%= current_user.full_name %>
</h1>
<% user_profile = current_user.profile %>
<div class="profile_image">
  <% if user_profile.profile_picture_url.present? %>
<%= cl_image_tag(user_profile.profile_picture_url)%>
<% else %>
<% if user_profile.gender == "Female" %>
  <%= image_tag 'woman.jpg'%>
  <% elsif user_profile.gender == "Male"%>
  <%= image_tag 'man.png'%>
<% else %>
  <%= image_tag 'gender_neutral.png'%>
  <% end %>
  <% end %>
</div>
<br/>
<br/>
<p> Age: <%= ((user_profile.date_of_birth.to_date .. Date.today.to_date).count/365) %>
<p> Gender: <%= user_profile.gender %> </p>
<p>Street: <%= user_profile.street %></p>
<p>House number: <%= user_profile.house_number %></p>
<p>Zip or postal code: <%= user_profile.zip_or_postal_code %></p>
<p>Town: <%= user_profile.town %></p>
<p>Country: <%= user_profile.country %></p>
<p>Profile last updated at: <%= user_profile.created_at.to_date %></p>

<%= link_to "update profile", edit_profile_path(user_profile.id) %>
