<h1>Profile</h1>
<p label="hoi"><%= @profile.created_at.to_date %></p>
<p><%= @profile.street %></p>
<p><%= @profile.zip_or_postal_code %></p>
<div class="profile_image">
<%= cl_image_tag(@profile.profile_picture_url)%>
</div>
<% if current_user.friendships.ids.present? %>
<% friend = current_user.friendships.map(&:friend_id).include? @profile.user_id%>
  <% if friend%>
        <p><%=  link_to "delete friendship", friendship_path(id: current_user.friendships.where(friend_id: @profile.user_id).ids), :method => :delete %></p>
    <% else %>
      <div>
        <p><%=  link_to "add as friend" ,friendships_path(:friend_id => @profile.user_id, :user_id => current_user.id), :method => :post%></p>
      </div>
    <%end %>
  <% else %>
    <div>
      <p><%=  link_to "add as friend" ,friendships_path(:friend_id => @profile.user_id, :user_id => current_user.id), :method => :post%></p>
    </div>
    <% end %>
