
<nav class="navbar navbar-expand-md bg-light navbar-light">
  <!-- Brand -->
  <%= image_tag '24rakno6gmuvcij93l48_bigger.png', class: 'img-responsive'  %>
  <a class="navbar-brand" <%=link_to 'Nedbook', root_path%></a>


  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Posts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" <%= link_to 'Post', posts_path %></a>
          <a class="dropdown-item" <%= link_to 'New post', new_post_path%></a>
            </div>
          </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" <%= link_to 'Users', users_path %></a>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
  </div

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  <ul class="nav navbar-nav navbar">
    <% if current_user.present?%>
    <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
    <% else %>
    <li><%= link_to "Login", new_user_session_path %></li>

    <% end%>
  </ul>
</div>
</nav>
